.header {
  display: flex;

  .login-toolbar {
    width: 100%;

    mat-toolbar {
      display: flex;
      justify-content: flex-end;
    }

    mat-toolbar /deep/ {
      color: white;
    }
  }

  .main-toolbar {
    background: none;
    padding: 0;
  }
}

.logo {
  width: 60px;
  margin: 10px;
}

