:host {
  display: flex;
}

.cover-image {
  background-size: cover;
  width: 50%;
  height: 100%;
}

.cover-container {
  width: 50%;
  padding-top: 40px;
  padding-left: 20px;

  .t1 {
    margin: 0 20px;
    font-size: 25px;
  }

  .description {
    margin: 20px;
    line-height: 1.5;
  }
}