<div class="cover-container">
  <h1 class="t1">About</h1>
  <p class="description">
    Measure your body using Fitter, and Fitty will get the best fit for you.
    Fitter will make the measurement experience easy, quick and simple - all you need to do is set the desired parameter
    to measure in your Fitter, and the results will be automatically updated in your Fitty account.
    Fitty is a tool that integrates with your favorite fashion websites and finds your size for every outfit based on
    your
    body measurements, the official designer’s size chart, and previous successful purchases made with fitty.
  </p>
</div>
<img class="cover-image" src="../../assets/about-photo.png">
