<div class="cover-container">
  <div class="title">
    <h1 class="t1">Measure simply,</h1>
    <h1 class="t2">shop what’s Fitty</h1>
  </div>
  <p class="description">
    description description description description description description description description description
    description description description description description description description description description
    description description description description description description description description description
    description description description description description description description description description
    description description description description description description
  </p>
</div>
<img class="cover-image" src="../../assets/cover-image.png">
